@import '/src/vars.scss';

.dropdown {
  position: absolute;
  margin-top: 5px;
  top: 50px;
  right: 40px;
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $secondary-dark-color;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  overflow: hidden;
  animation: fadeIn 0.2s ease-in-out forwards; 

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-wrap: nowrap;
    transition: background-color 0.2s ease; 

    > * {
      display: flex;
      align-items: center;
    }

    svg {
      transition: transform 0.1s linear;
    }

    &:hover {
      background-color: #3b3b3b;

      svg {
        transform: scale(1.05);
      }
    }
    
    &:active {
      background-color: #303030;

      svg {
        transform: scale(0.95);
      }
    }
  }
}

.logOut {
  color: #ff4b5c;
  font-weight: 500;
}

.navLink {
  gap: 0 !important;
}