@import '/src/vars.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  max-height: 700px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $dark-background-color; 
  z-index: 101;
  position: relative;
  top: 60px;
  right: 55px;
  bottom: 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #696969;
    border-radius: 6px;
    
    &:hover {
      background-color: #555;
    }
  }
  
  &::-webkit-scrollbar-track {
    background-color: #1f1f1f;
    border-radius: 6px;
  }

  div:last-child {
    margin-bottom: 0;
  }
  div:first-child {
    margin: 0;
  }
}

.resultItem {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 100%;
  max-width: 750px;

  img {
    width: 100px;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
    margin-right: 15px;
  }

  h3 {
    margin: 0 0 10px;
    font-size: 18px;
  }

  p {
    margin: 2px 0;
    font-size: 14px;
  }
}
