@import '/src/vars.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: $secondary-dark-color;
  gap: 10px;
  z-index: 110;

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  a, button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.loginButton {
  background-color: $dark-button-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: $dark-button-color-hover;
  }

  &:active {
    background-color: $dark-button-color-active;
  }
}