@import '/src/vars.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: $secondary-dark-color;
  gap: 10px;

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
