$dark-background-color: #181818;

$primary-text-color: #F5F5F5;

$primary-button-color: #4285F4;
$primary-button-color-hover: #3b75d1;
$primary-button-color-active: #3160aa;
$dark-button-color: #2a2a2a;;
$dark-button-color-hover: #363636;
$dark-button-color-active: #242424;

$errorColor: #e74c3c;

$secondary-dark-color: #272727;

$padding-horizontal-global: 300px;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}